@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Josefin+Sans:wght@100;200&family=Major+Mono+Display&display=swap');
/*font-family: 'Comfortaa', cursive;
font-family: 'Major Mono Display', monospace;*/

:root {
	--bg-gray: #3a3b42;
	--bg-lt-gray: #41424a;
	--lighter-gray: #60626e;
	--periwink: #92a8d4;
	--off-black: #1f2024;
	--teal: #14aca3;
	--header-ft: 'Major Mono Display', monospace;
	--body-ft: 'Comfortaa', cursive;
}



#comp-button {
	color: white;
	font-family: var(--body-ft);
	background-color: var(--lighter-gray);
	border: none;
	border-radius: 2px;
	padding: 1vh 5vh;
	padding-left: 1vh;
	margin: 1px;
	text-align: left;
	width: 100%;
}