@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Josefin+Sans:wght@100;200&family=Major+Mono+Display&family=Open+Sans:wght@300&display=swap');
/*font-family: 'Comfortaa', cursive;
font-family: 'Major Mono Display', monospace;*/
/*font-family: 'Open Sans', sans-serif;*/

:root {
	--bg-gray: #3a3b42;
	--bg-lt-gray: #41424a;
	--lighter-gray: #60626e;
	--light-gray: #b6bad1;
	--off-white: rgb(255, 255, 241);
	--periwink: #92a8d4;
	--dark-peach: #ed9393;
	--off-black: #1f2024;
	--teal: #14aca3;
	--header-ft: 'Major Mono Display', monospace;
	--body-ft: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
