@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Josefin+Sans:wght@100;200&family=Major+Mono+Display&display=swap');
/*font-family: 'Comfortaa', cursive;
font-family: 'Major Mono Display', monospace;*/

:root {
	--bg-gray: #3a3b42;
	--bg-lt-gray: #41424a;
	--periwink: #92a8d4;
	--off-black: #1f2024;
	--teal: #14aca3;
	--header-ft: 'Major Mono Display', monospace;
	--body-ft: 'Comfortaa', cursive;
}

.home-header {
	background-color: var(--off-black);
	font-family: var(--header-ft);
	width: 100%;
}

.whole-page {
	font-family: var(--body-ft); 
}